<div class="masthead">
  <nav class="navbar navbar-expand-sm navbar-dark bg-clear ">
    <div class="container">
      <h3 class="masthead-brand">Graham Cottridge</h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper 'nav-link' %>
        </div>
      </div>
    </div>
  </nav>
</div>




<!--
<header class="masthead clearfix">
  <div class="inner">

    <h3 class="masthead-brand">Graham Cottridge</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>

      <%= login_helper 'nav-link' %>

    </nav>
  </div>
</header>

 -->
