<h1>About Me
</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "graham.jpg", width: 300, alt: "profile image" %>

  </div>
  <div class="col-md-8">
    <h2>Full Stack Ruby on Rails Developer</h2>
    <p>Recent graduate of Le Wagon Lisbon (Batch #97) - a 9-week intensive coding bootcamp (see link below) - seeking junior full stack, back-end or front-end developer roles in order to build on the skills acquired. Previous to this, I have gained extensive experience as a presentation graphics specialist in the investment banking and management consulting sectors.</p>
  </div>
</div>

