<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <br>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "graham.jpg", width: 250, alt: "profile image", class: 'img-thumbnail' %>
      </div>

      <div class="col-md-8">
        <h2>Full Stack Ruby on Rails Developer</h2>
        <p>Recent graduate of Le Wagon Lisbon (Batch #97) - a 9-week intensive coding bootcamp (see link below) - seeking junior full stack, back-end or front-end developer roles in order to build on the skills acquired. Previous to this, I have gained extensive experience as a presentation graphics specialist in the investment banking and management consulting sectors.</p>

        <p>
          <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controller="jobHistory"
          >
          Job History
        </button>
        <button
        class="btn btn-primary"
        type="button"
        data-toggle="collapse"
        data-target="#education"
        aria-expanded="false"
        aria-controller="education"
        >
        Education
      </button>
      <p>
        <div class="collapse" id="jobHistory">
          <div class="card card-block">
            A Job
          </div>
          <div class="card card-block">
            A Job
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Le Wagon
            </div>
            <div class="card card-block">
              Le Wagon
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


