<h1>Full Stack Ruby on Rails Developer
</h1>
<p>Recent graduate of Le Wagon Lisbon (Batch #97) - a 9-week intensive coding bootcamp (see link below) - seeking junior full stack, back-end or front-end developer roles in order to build on the skills acquired. Previous to this, I have gained extensive experience as a presentation graphics specialist in the investment banking and management consulting sectors.</p>
