<h1>Contact</h1>

<hr>

<div class="row">
  <div class="col-md">
    <h3>Location</h3>

    <p>London, United Kingdom</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+44 5555555555" %></p>

    <h3>Email</h3>

    <p><a href="mailto:codinggc@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>
</div>
