<main role="main" class="inner cover">
  <h1 class="cover-heading">Full Stack Ruby on Rails Developer</h1>
  <p class="lead">Le Wagon graduate (Batch #97)</p>
  <p class="lead">
    <%= link_to "About Me", aboutme_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
